<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>Registration</title>
 <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"
rel="stylesheet">
 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="../Static/css/index.css">
 <link href="http://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet">
</head>
<body>
   <div class="row centered-form">
    <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
      <div="panel panel-default">
         <div class="panel-heading">
           <h3 class="panel-title" align="center" >Create new account</h3>
         </div>
         <div class="panel-body">
           <form role="form">
             <div class="row">
               <div class="form-group">
                    <input class="form-control input-sm" type="text" name="vardas" placeholder="Vardas">
                  </div>
               </div>
               <div class="row">
                  <div class="form-group">
                    <input class="form-control input-sm" type="text" name="pavarde" placeholder="Pavardė">
                  </div>
               </div>
             <div class="row">  
               <div class="form-group">
                  <input class="form-control input-sm" type="email" name="elpastas" placeholder="El.paštas">
               </div>
             </div>
             <div class="row">
               <div class="form-group">
                 <input class="form-control input-sm" type="password" name="slaptazodis" placeholder="Slaptažodis">
              </div>
             </div>
             <div class="row">
              <div class="form-group">
                <input class="form-control input-sm" type="password" name="slaptazodisPatikra" placeholder="Slaptažodžio patviritnimas">            
              </div>
              <input type="submit" value="Register" class="btn btn-info btn-block">
             </div> 
             </form>
       </div> 
     </div>
    </div>
   </div>
</body>
</html>
